/* General Reset */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://i.ibb.co/26hzq7K/Untitled-design-9.png);
    background-size: cover;
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    animation: 1s ease-out 0s 1 slideInFromTop;
    position: fixed;
    top: 0PX;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray;
}



.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 210px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

a:hover {
    color: rgb(161, 161, 161);
}

/* Room Container */
.card-container {
    width: 70%; /* Set the width of the container */
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 0; /* Center the container horizontally */
    padding: 20px;
    justify-content: space-between; /* Ensure space between cards */
}

.card {
    width: calc(33.33% - 20px); /* Three cards per row, minus margin */
    margin-bottom: 20px; /* Space below each card */
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card:hover {
    transform: scale(0.985);
    box-shadow: 3px 3px 5px gray;
}

/* Pop-up Modal CSS */
.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.pop-up-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
}

.pop-up-content img {
    max-width: 100%;
    height: auto;
}

.pop-up-content h3 {
    margin-top: 10px;
}

.pop-up-input:checked + .pop-up {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 425px;
    right: 980px;
    font-size: 35px;
    cursor: pointer;
    color: #f0f0f0;
    text-shadow: 2px 2px 5px rgb(219, 219, 219);
}

.close-btn:hover {
    color: rgb(173, 173, 173);
}

.pop-up-input {
    display: none; /* Hide the checkbox */
}

/* Pop-up close button styling */
